:root {
    --brown: brown;
    --tan: burlywood;
    --sc: black;
    --ssd: .2rem .2rem .5rem black;
}
/*MAIN CONTENT*/
body {
  display:flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color:var(--tan);
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: .5em .5em 1em black;

}
section{
 color: var(--tan);
 background-color: var(--brown);
 border-radius: 1em;
 box-shadow: var(--ssd);
 margin-top: 1em;
 padding: .5em;
}

h1 {
  font-size: 5em;
}

h2{
  font-size: 2em;
}

p {
  font-size: 1.5em;
}

img{
  width: 20em;
 height: 20em;
 border-radius: 60%;
 object-fit: cover;
}
.content{
  display: flex;
}

.about-container{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
  margin: 1em;
  padding: 2em;
}

.about-list {
text-align: left;
}
.img-container {
   background-color: var(--tan);
  width: 20em;
  height: 20em;
  border-radius: 60%;
  overflow: hidden;
  }
.text-container{
  width: 70em;
  box-shadow: none;
}



/*END MAIN CONTENT*/
/*------------------------------------------------*/
/* NAVIGATION BAR*/
.navlist {
    background-color:var(--brown) ;
    box-shadow: var(--ssd);
    border-radius: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    
}

.navitem {
    list-style: none;
    line-height: 5rem;
    width: 15rem;
    text-align: center;
   
}

.navitem a {
    font-size: 1rem;
    font-style: bold;
    text-decoration: none;
    color:var(--tan);

}

.navitem:hover {
    background-color:burlywood ;
    box-shadow: var(--ssd);
    border-radius: 1rem;
    line-height: 4.9rem;
    
}

.navitem a:hover {
    color: var(--brown);
    text-shadow:var(--ssd) var(--sc);
}
/*END NAVIGATION BAR*/




    @media (min-width: 400px) {
        .navitem a{
            font-size: 150%;
        }
        .greeting h1 {
          font-size: 500%;
        }
      }

    
    @media (min-width: 700px) {
        .navitem a{
            font-size: 300%;
        }
        .greeting h1{
          font-size: 1000%;
        }
      }
   
