:root {
    --brown: brown;
    --tan: burlywood;
    --sc: black;
    --ssd: .2rem .2rem .5rem;
}

body {
   background-color:var(--tan);
   font-family: Arial, Helvetica, sans-serif;

}


.navlist {
    background-color: brown;
    box-shadow: var(--ssd);
    margin-top: 0;
    border-radius: 1rem;
    display: flex;
    justify-content: start;
    align-items: center;
    
    
}

.navitem {
    list-style: none;
    line-height: 5rem;
    width: 15rem;
    text-align: center;
   
}

.navitem a {
    font-size: 1rem;
    font-style: bold;
    text-shadow: var(--ssd) var(--sc) ;
    text-decoration: none;
    color:var(--tan);

}



.navitem:hover {
    background-color:burlywood ;
    box-shadow: var(--ssd);
    border-radius: 1rem;
    line-height: 4.9rem;
    
}

.navitem a:hover {
    color: var(--brown);
    text-shadow:var(--ssd) var(--sc);
}


.greeting {
    background-color: var(--brown);
    border-radius: 1rem;
    font-size: 1rem;
    color: burlywood;
    text-shadow: var(--ssd) var(--sc);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: .2rem;
   
    
    
    }

    h1{
    font-size: 3rem;
        
    }

    h2{
        font-size: 1.5rem;
        text-align: center;
        
    }

    p {
        font-size: 1rem;
        text-align: center;
    }

    span {
        color:rgb(210, 134, 34)
    }
    @media (min-width: 400px) {
        .navitem a{
            font-size: 150%;
        }
        .greeting h1 {
          font-size: 500%;
        }
      }

    @media (min-width: 400px) {
        .greeting h2, p{
          font-size: 120%;
        }
      }
    
    @media (min-width: 700px) {
        .navitem a{
            font-size: 300%;
        }
        .greeting h1{
          font-size: 1000%;
        }
      }
    @media (min-width: 700px) {
        .greeting h2, p{
          font-size: 200%;
        }
      }
