:root {
    --brown: brown;
    --tan: burlywood;
    --sc: black;
    --ssd: .2rem .2rem .5rem black;
    --mt: 15px;
}
/*MAIN CONTENT*/
body {
  display:flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color:var(--tan);
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: .5em .5em 1em var(--sc);

}
section{
 color: var(--tan);
 background-color: var(--brown);
 border-radius: 1em;
 box-shadow: var(--ssd);
 margin-top:var(--mt);
 padding: .5em;
}

h1 {
  font-size: 10vw;
}

h2{
  font-size: 5vw;

}

h3 {
  font-size: 2vw;
}

a {
  text-decoration: none;
  color: var(--tan)
}

p {
  font-size: 2.5vw;
}

.me{
 width: 30vw;
 height: 30vw;
 border-radius: 60%;
 object-fit: cover;
}
.content{
  display: flex;
}

.about-container{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
  margin-top: var(--mt);
  padding: 0vw;
}

.about-list {
text-align: left;
}
.img-container {
   background-color: var(--tan);
  width: 30vw;
  height: 30vw;
  border-radius: 60%;
  overflow: hidden;
  }
.text-container{
  width: 60vw;
  box-shadow: none;
}
.pwsg {
  margin-top: 1vw;
  width: 30vw;
  height: 30vw;
  border-radius: 50%;
  object-fit: cover;
}

.pwsg-cont {
box-shadow: .5vw 0.5vw 2vw var(--sc);
  background-color: var(--tan);
  width: 32vw;
  height: 32vw;
  border-radius: 50%;
  overflow: hidden;
}
.projects {
  display:flex;
  justify-content: center;
  align-items: center;
 
}

.yak {
  width: 75vw;
}



/*END MAIN CONTENT*/
/*------------------------------------------------*/
/* NAVIGATION BAR*/
.navlist {
    background-color:var(--brown) ;
    box-shadow: var(--ssd);
    border-radius: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
    
    
}


.navitem {
    list-style: none;
    line-height: 5rem;
    width: 15rem;
    text-align: center;
    
}

.navitem a {
    font-size: 1rem;
    font-style: bold;
    text-decoration: none;
    color:var(--tan);
   

}

.navitem:hover {
    background-color:burlywood ;
    box-shadow: var(--ssd);
    border-radius: 1rem;
    line-height: 4.9rem;
    
}

.navitem a:hover {
    color: var(--brown);
    text-shadow:var(--ssd) var(--sc);
}
/*END NAVIGATION BAR*/

/*===============================================*/

/*media queries*/
    @media (min-width: 400px) {
        .navitem a{
            font-size: 150%;
        }
        .greeting h1 {
          font-size: 500%;
        }
      }

    
    @media (min-width: 700px) {
        .navitem a{
            font-size: 200%;
        }
        .greeting h1{
          font-size: 500%;
        }
      }
   
